* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.terminal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal-window {
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 600px;
  background-color: #1A120B;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#dark .terminal-window {
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 600px;
  background-color: #301E67;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.terminal-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.terminal-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.terminal-label {
  font-weight: bold;
  margin-right: 10px;
}

.terminal-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  outline: none;
}

#dark .terminal-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #03001C;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  outline: none;
}

.button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 20px 20px;
  cursor: pointer;
}

#dark .button {
  padding: 5px 10px;
  background-color: #5B8FB9;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 20px 20px;
  cursor: pointer;
}

.switch-container {
  display: flex;
  align-items: center;
}

.colorChangeText {
  margin-right: 10px;
}

.terminal-grid {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
}

.terminal-item {
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.terminal-window-mini {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  height: 470px;
  border-radius: 15px;
  overflow-y: scroll;
  /* Daha pürüssüz bir arka plan geçişi efekti için */
  transition: background-color 0.5s ease;
  border: 1px solid #333333;
  border-radius: 3px;
}

#light {
  /* Daha pürüssüz bir arka plan geçişi efekti için */
  transition: background-color 0.5s ease;
  background-color: #EEEEEE;
  color: #333;
}

#dark {
  /* Daha pürüssüz bir arka plan geçişi efekti için */
  transition: background-color 0.5s ease;
  background-color: #03001C;
  color: #fff;
}