/* SwitchButon Style */
.Switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.Switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 90px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.Switch label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.Switch input:checked+label {
    background: #bada55;
}

.Switch input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.Switch label:active:after {
    width: 80px;
}